@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  @keyframes progress {
    from { width: 0%; }
    to { width: 100%; }
  }
  .animate-progress {
    animation: progress 5s linear;
  }
}

body {
  background-color: #ffffff;
  color: #111827;
}

